//color
$color_fff: #fff;
$color_aaa: #aaa;
$color_ccc: #ccc;
$color_333: #333;
$color_666: #666;
$color_999: #999;
$color_13abd7: #13abd7;
$color_0b83a6: #0b83a6;
$color_0056b3: #0056b3;

$background_color_fff: #fff;
$background_color_aaa: #aaa;
$background_color_ddd: #ddd;
$background_color_f7f8fa: #f7f8fa;
$background_color_ff7b00: #ff7b00;
$background_color_f0f7fa: #f0f7fa;
$background_color_f7f7f7: #f7f7f7;
$background_color_13abd7: #13abd7;
$background_color_bfbfbf: #bfbfbf;
$background_color_b0b0b0: #b0b0b0;
$background_color_cdebf6: #cdebf6;
$background_color_c5c5c5: #c5c5c5;
$background_color_dceef2: #dceef2;
$background_color_d7d7d7: #d7d7d7;
$background_color_9cce24: #9cce24;
$background_color_4cbad9: #4cbad9;
$background_color_a7ed00: #a7ed00;
$background_color_e4f9ff: #e4f9ff;
$background_color_e63d17: #e63d17;
$background_color_e6e6e6: #e6e6e6;
$background_color_0eabd8: #0eabd8;
$background_color_076d8c: #076d8c;
$background_color_ebebeb: #ebebeb;
$background_color_e8fabb: #e8fabb;
$background_color_ff5c38: #ff5c38;
$background_color_transparent: transparent;

$border_color_eee: #eee;
$border_color_13abd7: #13abd7;
$border_color_00c6ff: #00c6ff;

//link url
$brand-icon1: url(../images/icon-template-report-double.png);
$brand-icon2: url(../images/icon-template-report-only.png);
$brand-icon3: url(../images/icheck.png);
$brand-icon4: url(../images/pagination.png);
$brand-icon5: url(../images/loading.gif);
$brand-icon-left-menu:  url(../images/icon-left-menu.png);
$brand-icon7: url(../images/icon-a1-digihub.png);
$brand-icon8: url(../images/icon-channel.png);
$brand-icon9: url(../images/icon-drag-draw.png);
