.resizable {
  position: absolute;
  border: 1px solid #ccc;
}
.resizable-handle {
  background-color: #64b5f6;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 7px;
  height: 7px;
  position: absolute;
  z-index: 0;
  &.resizable-nw {
    cursor: nw-resize;
    left: -4px;
    top: -4px;
  }
  &.resizable-ne {
    cursor: ne-resize;
    right: -4px;
    top: -4px;
  }
  &.resizable-sw {
    cursor: sw-resize;
    left: -4px;
    bottom: -4px;
  }
  &.resizable-se {
    cursor: se-resize;
    right: -4px;
    bottom: -4px;
  }
  &.resizable-n {
    cursor: n-resize;
    left: 50%;
    top: -4px;
    margin-left: -6px;
  }
  &.resizable-s {
    cursor: s-resize;
    left: 50%;
    bottom: -4px;
    margin-left: -6px;
  }
  &.resizable-e {
    cursor: e-resize;
    right: -4px;
    top: 50%;
    margin-top: -6px;
  }
  &.resizable-w {
    cursor: w-resize;
    left: -4px;
    top: 50%;
    margin-top: -6px;
  }
}
